---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


$base-font-family: geosanslightregular;
$base-font-size: 20px;
$base-font-color: #222;
$base-line-height: 1.5em;
$header-font-family: dk_lemon_yellow_sunregular;

$jlm-pink: rgb(250, 95, 131);
$jlm-red: rgb(240, 45, 84);//#f02d54;

$header-bg-color: rgba(229, 239, 239, 1);
$bg-white-alpha: rgba(255,255,255,0.7);

$container-padding: 2%;


*{
  box-sizing: border-box;
}

body, html{
  height: 100%;
}

%clearfix {
   &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#scroll-to-top{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  line-height: 40px;
  text-align: center;
  color: black;
  transition: color 0.5s;
  border-radius: 4px;
  border: 1px #dcd solid;
  display: none;

  &:hover{
    transition: color 0.5s;
    color: $jlm-pink;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "reset",
  "fonts",
  "mixins",
  "header",
  "home",
  "about",
  "agenda"
;