---
layout: default
title: Contact Jennie Lena
class_name: contact
permalink: /contact/
---


<div>


<h3>
  <span aria-hidden="true" data-aap="&#x21dd;"></span>
  Stats
</h3>

<p>
  nieuwe hotelvestigingen in het centrum en de goede locatie van Sloterdijk ten opzichte van het centrum en Schiphol dragen hieraan bij, net als het uitnodigende beleid van de gemeente ten aanzien van de transformatie van leegstaande kantoren. In 2011 opende Holiday Inn Express – 254 kamers, 508 bedden – direct naast het station (de Duitse investeerder, IVG Institutional Funds, verkocht het vastgoed eind 2014 door aan Invesco, dat in de Verenigde Staten is gevestigd, op Bermuda is geregistreerd en waarvan de ‘Dutch Branch’ in Brussel is gevestigd). Een jaar later werd ook het Meininger Hotel Amsterdam City West geopend, direct aan de andere kant van het station. Momenteel wordt het hotel uitgebreid van 219 naar 321 kamers (1177 bedden). Het gebouw The Dam wordt op dit moment door de Israelische Omnam Investment Group herontwikkeld tot conferentiehotel (Park Inn by Radisson Amsterdam) met onder andere 478 kamers, zo’n 4.000 m² congresruimte en een ballroom van 1000 m². Op de Naritaweg 1, schuin tegenover het station, zal binnenkort een 4-sterren Mercure Hotel openen met 173 kamers. In het aangrenzende gebouw zat al Amsterdam ID, een appartementenhotel dat in 2012 opende en 98 kamers (310 bedden) telt.

</p>
<br>
<br>
<br>

<h3>
  <span>&#x21dd;</span>
  Stats
</h3>
</div>


