<header>

  <nav id="navigation">
    <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/img/logo-JENNIE-LENA.png"/></a>
    {% for p in site.page_ids offset:1 %}
      {% assign page_url = page.url | replace:'/','' %}
      {% if p == page_url %}
        <div class="item selected">{{ p | replace:' ','&nbsp;' }}</div>
      {% else %}
        <div class="item active"><a href="{{ site.baseurl }}/{{ p }}/">{{ p| replace:' ','&nbsp;' }}</a></div>
      {% endif %}
    {% endfor %}
    <span class="social">
      <a href="https://www.facebook.com/JennieLenaofficialpage" class="icon fa fa-facebook fa"></a>
      <a href="https://twitter.com/JennieLenaMusic" class="icon fa fa-twitter fa"></a>
      <a href="https://instagram.com/jennielenamusic" class="icon fa fa-instagram fa"></a>
    </span>
  </nav>

  <nav id="navigation-mobile">
    <div class="header">
      <a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/img/logo-JENNIE-LENA.png"/></a>
      <span class="social">
        <a href="https://www.facebook.com/JennyLenaOfficialPage" class="icon fa fa-facebook fa"></a>
        <a href="https://twitter.com/JennieLenaMusic" class="icon fa fa-twitter fa"></a>
        <a href="https://instagram.com/jennielenamusic" class="icon fa fa-instagram fa"></a>
      </span>
      <div class="icon"><i class="fa fa-bars fa"></i></div>
    </div>
<!--     <div class="container">
 -->      <div class="items">
        {% for p in site.page_ids offset:1 %}
          {% assign page_url = page.url | replace:'/','' %}
          {% if p == page_url %}
            <div class="item selected">{{ p | replace:' ','&nbsp;' }}</div>
          {% else %}
            <a href="{{ site.baseurl }}/{{ p }}/"><div class="item active">{{ p| replace:' ','&nbsp;' }}</div></a>
          {% endif %}
        {% endfor %}
      </div>
    <!-- </div> -->
  </nav>

</header>
