.agenda{
  background-color: $bg-white-alpha;
  padding: 20px;
  width: 100%;
  p{
    margin: 15px 0;
  }
  .item{
    margin-bottom: 1.3em;
    &:last-child{
      margin-bottom: 25px;
    }
  }
  h2:not(:first-child){
    margin-top: 20px;
  }
}

@include media-query('large'){
  .agenda{
    max-width: 55%;
  }
}
