@font-face {
  font-family: 'geosanslightregular';
  src: url('../fonts/geosans-webfont.eot');
  src: url('../fonts/geosans-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/geosans-webfont.woff2') format('woff2'),
       url('../fonts/geosans-webfont.woff') format('woff'),
       url('../fonts/geosans-webfont.ttf') format('truetype'),
       url('../fonts/geosans-webfont.svg#geosanslightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'dk_lemon_yellow_sunregular';
  src: url('../fonts/lemon-webfont.eot');
  src: url('../fonts/lemon-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lemon-webfont.woff2') format('woff2'),
       url('../fonts/lemon-webfont.woff') format('woff'),
       url('../fonts/lemon-webfont.ttf') format('truetype'),
       url('../fonts/lemon-webfont.svg#dk_lemon_yellow_sunregular') format('svg');
  font-weight: normal;
  font-style: normal;
}