header{
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: $header-bg-color;
  padding: 0px $container-padding;
}

// .fa-bars{
//   cursor: pointer;
// //  transition: color 0.2s ease;
//   color: #333;
// }

// .fa-bars:hover{
//   transition: color 0.2s ease;
//   color: $jlm-pink;
// }

// .fa-bars:hover~#navigation-mobile{
//   display: flex;
// }

#navigation{
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
  height: 50px;
  max-width: calc(1200px - #{$container-padding} - #{$container-padding});


  .logo{
    flex: 0 1 auto;
    height: 50px;
  }

  .item{
    flex: 0 1 auto;
    margin: 5px 0px;
    font-family: $header-font-family;
  }

  .selected{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
    cursor: default;
    color: $jlm-pink;
  }

  .active{
    a{
      text-decoration: none;
      transition: color 0.2s ease;
      color: $base-font-color;
    }

    a:hover{
      text-decoration: none;
      transition: color 0.2s ease;
      color: $jlm-pink;
    }
  }

}


.social{
  flex: 0 1 auto;
  padding-top: 4px;
  .icon{
    margin: 0 0px;
    //display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    font-size: 1em;
    text-align: center;
    background-color: $header-bg-color;
    color: $base-font-color;
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
  }
  .icon:hover{
    transition: background-color 0.8s ease-out;
    transition: color 0.5s ease;
    color: white;
  }
  .fa-facebook:hover{
    background-color: #415569;
  }
  .fa-twitter:hover{
    background-color: #46D3FD;
  }
  .fa-instagram:hover{
    background-color: #A67658;
  }
  a{
    text-decoration: none;
  }
}



#navigation-mobile{

  display: none;
  //height: 100%;

  .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logo{
      flex: 0 1 auto;
    }
    .social{
      flex: 0 1 auto;
      padding-top: 1px;
      .icon{
        margin: 0 6px;
      }
    }
    .icon{
      flex: 0 1 auto;
      cursor: pointer;
    }
  }


  .items{
    width: 100%;
    height: calc(100vh - get-header-height('extra-small'));
    transition: top 0.4s ease-out;
    position: absolute;
    left: 0;
    top: -100vh;
    margin-top: get-header-height('extra-small');

    background-color: white;
    z-index: 1;
    display: flex;
    flex-wrap: no-wrap;
    flex-direction: column;
    text-align: center;

    a{
      text-decoration: none;
      color: $base-font-color;
    }

    a:hover{
      color: white;
    }

    .item{
      flex: 0 1 auto;
      padding: 17px 0 17px $container-padding;
      min-height: 20px;
      font-family: $header-font-family;
      font-size: 20px;
      background-color: white;
      border-bottom: 1px #333 solid;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &:hover{
        background-color: $jlm-red;
      }
    }

    .selected{
      cursor: default;
      color: $jlm-pink;

      &:hover{
        cursor: default;
        background-color: white;
      }
    }
  }
}



@include media-query('extra-small'){
  #navigation{
    display: none;
  }
  #navigation-mobile{
    display: flex;
    .header{
      height: get-header-height('extra-small');
      line-height: get-header-height('extra-small');
      .logo{
        height: get-header-height('extra-small');
      }
    }
    .items{
      margin-top: get-header-height('extra-small');
    }
  }
}

@include media-query('small'){
  #navigation{
    display: none;
  }
  #navigation-mobile{
    display: flex;
    .header{
      height: get-header-height('small');
      line-height: get-header-height('small');
      .logo{
        height: get-header-height('small');
      }
    }
    .items{
      margin-top: get-header-height('small');
    }
  }
}

@include media-query('medium'){
  #navigation{
    display: flex;
    height: get-header-height('medium');
    line-height: get-header-height('medium');

    .logo{
      height: get-header-height('medium');
    }
    .item{
      font-size: 20px;
    }
  }
  #navigation-mobile{
    display: none;
  }
  .social{
    padding-top: 4px;
    .icon{
    }
  }
}

@include media-query('large'){
  #navigation{
    display: flex;
    height: get-header-height('large');
    line-height: get-header-height('large');
    margin: 0 auto;

    .logo{
      height: get-header-height('large');
    }

    .item{
      font-size: 23px;
    }
  }
  #navigation-mobile{
    display: none;
  }
  .social{
    flex: 0 1 auto;
    padding-top: 7px;
    .icon{
      margin: 0 0px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 15px;
      font-size: 1.2em;
    }
  }
}

@include media-query('extra-large'){
  #navigation{
    display: flex;
    height: get-header-height('extra-large');
    line-height: get-header-height('extra-large');

    .logo{
      height: get-header-height('extra-large');
    }
    .item{
      font-size: 30px;
    }
  }
  #navigation-mobile{
    display: none;
  }
}

/*
@-webkit-keyframes navigation_over {
  0% {color: $base-font-color}
  100% {color: $jlm-pink}
  // 0% {font-size: 3px}
  // 100% {font-size: 30px}
}

@-webkit-keyframes navigation_out{
  0% {color: $jlm-pink;}
  100% {color: $base-font-color;}
  // 0% {font-size: 3px;}
  // 100% {font-size: 30px}
}
*/