@include main-layout('home');
@include main-layout('about');
@include main-layout('news');
@include main-layout('agenda');
@include main-layout('free');
@include main-layout('newsletter');
@include main-layout('contact');
@include main-layout('press-kit');


.home-item{
  flex: 0 1 auto;
  line-height: 20px;
  font-size: 20px;
  background-color: $bg-white-alpha;
  width: 50%;
  padding: 20px;
}

