// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }


$breakpoints: (
  extra-small: '320px',
  small: '480px',
  medium: '768px',
  large: '992px',
  extra-large: '1200px'
);

@mixin media-query($screen-size){
  @media screen and (min-width: #{map-get($breakpoints, $screen-size)} ){
    @content;
  }
}


$header-heights: (
  extra-small: '45px',
  small: '54px',
  medium: '63px',
  large: '90px',
  extra-large: '90x'
);

@function get-header-height($screen-size){
  @return #{map-get($header-heights, $screen-size)}
}



$background-images: (
  home: '../img/Jennie-Lena-brick-wall.jpg',
  about: '../img/Jennie-Lena-standing-dark-blue-dress.jpg',
  news: '../img/Jennie-Lena-standing-dare-to-dream.jpg',
  agenda: '../img/Jennie-Lena-standing-dare-to-dream.jpg',
  free: '../img/Jennie-Lena-white-wall.jpg',
  newsletter: '../img/Jennie-Lena-checker.jpg',
  contact: '../img/Jennie-Lena-table.jpg',
  press-kit: '../img/Jennie-Lena-table.jpg'
);

@mixin main-layout($page-id){
  // dynamic ids!
  $id: #{'#'}#{$page-id};
  #{$id} {
    background-image: url(#{map-get($background-images, $page-id)});
    // background-repeat: stretch;
    //background-size: 100vw 100vh;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    margin-top: get-header-height(extra-small);
    min-height: 100%;
    animation: fadein 1s;


    .main-section{
      @include get-font();
      display: flex;
      padding-top: 10px;
      margin-left: $container-padding;
      height: calc(100% - #{get-header-height(extra-small)});
      width: calc(100% - #{$container-padding} - #{$container-padding});
    }
  }

  @include media-query('extra-small'){
    @include body-height(extra-small);
    #{$id} {
      margin-top: get-header-height('extra-small');
      .main-section{
      }
    }
  }

  @include media-query('small'){
    @include body-height(small);
    #{$id} {
      margin-top: get-header-height('small');
      .main-section{
      }
    }
  }

  @include media-query('medium'){
    @include body-height(medium);
    #{$id} {
      margin-top: get-header-height('medium');
      .main-section{
        //background-color: rgba(0,255,0,0.4);
        margin: 0 $container-padding;
      }
    }
  }

  @include media-query('large'){
    @include body-height(large);
    #{$id} {
      margin-top: get-header-height('large');
      .main-section{
        margin: 0 auto;
        //background-color: rgba(0,255,255,0.4);
      }
    }
  }

  @include media-query('extra-large'){
    @include body-height(extra-large);
    #{$id} {
      margin-top: get-header-height('extra-large');
      .main-section{
        max-width: calc(1200px - #{$container-padding} - #{$container-padding});
      }
    }
  }
}


@mixin get-font(){
  font-size: $base-font-size;
  font-color: $base-font-color;
  line-height: $base-line-height;
  font-family: $base-font-family;

  h1{
    font-family: $header-font-family;
    font-size: 44px;
    font-weight: normal;
    color: $jlm-pink;
    margin: 10px 0 15px 0;
  }

  h2{
    font-family: $header-font-family;
    font-size: 34px;
    font-weight: normal;
    color: $jlm-pink;
    margin: 10px 0 15px 0;
  }

  h3{
    font-family: $header-font-family;
    font-size: 28px;
    font-weight: normal;
    color: $jlm-pink;
    margin: 10px 0 15px 0;
  }
  a{
    color: $jlm-pink;
    font-weight: bolder;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  p{
    margin-bottom: 20px;
  }
}


@mixin body-height($size){
  body{
    height: calc(100vh - #{get-header-height($size)});
  }
}


@keyframes fadein {
  0% {opacity: 0}
  100% {opacity: 1}
}

