<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="top">

    {% assign page_url = page.url | replace:'/','' %}
    {% if page_url == 'news' %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "http://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        </script>
    {% endif %}

    {% include header.html %}

    <main id="{{ page.class_name }}">

      <section class="main-section">

        {{ content }}

      </section>

    </main>

    <a href="#top"><div id="scroll-to-top"><i class="fa fa-chevron-up"></i></div></a>

  </body>

</html>
